@model eProject.Models.Admins

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section css{
    <link href="~/css/step-wizard.css" rel="stylesheet" />
}

<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Index</a></li>
                            <li class="breadcrumb-item active" aria-current="page">/<a href="#">Create Admin Account</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 10px; margin-right: 10px">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Fullname" class="control-label"></label>
                            <input asp-for="Fullname" class="form-control" />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Images" class="control-label"></label>
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
                <h3 style="color:red">@ViewBag.Msg</h3>
            </div>

            </div>
</div>
</div>