@model eProject.Models.Admins

@{
    ViewData["Title"] = "NewLogin";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Stationery Management System</p>
        <form asp-action="Login" method="post">
            <div class="input-group mb-3">
                <input type="text" asp-for="Username" class="form-control" placeholder="Enter Username...">
                <span asp-validation-for="Username" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fa fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password...">
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="social-auth-links text-center mb-3">
                <!-- /.col -->
                <div>
                    <input type="submit" value="Sign in" class="btn btn-primary" />
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->

        @*<div class="social-auth-links text-center mb-3">
            <a asp-controller="Admin" asp-action="Login">Login Admin</a>
        </div>*@
        @*<div class="social-auth-links text-center mb-3">
            @Html.ActionLink("Open Account", "Create", "Admin")
        </div>*@
    </div>
    <!-- /.login-card-body -->
</div>




