@model eProject.Models.Users

@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    string json_user_detail = HttpContextAccessor.HttpContext.Session.GetString("user_detail");
    Users user = null;
    List<CartItem> listCart = new List<CartItem>();
    decimal total_money = 0;
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<CartItem>(cartResult.ToString()));
        }
    }
    if (json_user_detail != null)
    {
        JObject jsonResponse = JObject.Parse(json_user_detail);
        user = JsonConvert.DeserializeObject<Users>(json_user_detail.ToString());
    }
}
<div class="wrapper">
    <div class="all-product-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="default-title mt-4">
                        <h2>Frequently Asked Questions</h2>
                        <img src="images/line.svg" alt="">
                    </div>
                    <div class="panel-group accordion pt-1" id="accordion0">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingOne">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#" aria-expanded="false" aria-controls="collapseOne">
                                        Standards for using stationery
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion0" style="">
                                <div class="panel-body">
                                    <p>
                                        All types of stationery in the regulations on stationery management are used under the same standard regardless of titles, except for the types of stationery that are classified.
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingTwo">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#" aria-expanded="false" aria-controls="collapseTwo">
                                        Usage norms
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion0">
                                <div class="panel-body">
                                    <p>
                                        Each type of stationery must have a usage limit. 
                                        The Administration Department will set up a provisional usage limit and this provisional usage limit will be discussed and agreed with the Heads of the Department, then transferred to the Board of Directors for approval.
                                    </p>
                                    <p>
                                        Quarterly, the administrative department is responsible for reviewing the norms of stationery use accordingly. .
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingThree">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" href="#" aria-expanded="false" aria-controls="collapseThree">
                                        Dispensing Process
                                    </a>
                                </div>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion0">
                                <div class="panel-body">
                                    <p>
                                        On the 28th of every month, departments will have to make a request for next month's stationery, send it to the Head of the Department for approval, and then transfer it to the Administration Department for consideration.
                                    </p>
                                    <p>
                                        The administrative department is responsible for re-checking the usage norms according to the regulations on stationery management, if it is incorrect, it must be transferred to the requesting department for correction, if it is correct, it will synthesize all the proposed tables. , then make a summary table and then send it to the board of directors for approval.
                                    </p>
                                    <p>
                                        Based on the approved application, the Administration Department will contact the supplier to purchase the required stationery. Stationery is purchased twice, the first time from the 1st to the 5th of the month, the 2nd time from the 15th to the 20th of the month. Each purchase will equal 60% of the month's total demand (inventory level is 20%).
                                    </p>
                                    <p>
                                        The grant and distribution is done twice, the first time from the 1st to the 5th day of the month, the second time from the 15th to the 20th day of the month. Each grant and distribution equals 50% of the monthly usage demand. After the inspection is complete, the recipient of the stationery will sign the delivery note.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingFour">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" href="#" aria-expanded="false" aria-controls="collapseFour">
                                        Can I just call or fax in my order?
                                    </a>
                                </div>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion0">
                                <div class="panel-body">
                                    <p>
                                        No, you can using Company System to order.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingFive">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" href="#" aria-expanded="false" aria-controls="collapseFive">
                                        Unexpected allocation
                                    </a>
                                </div>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion0">
                                <div class="panel-body">
                                    <p>
                                        When there is an unexpected need to use stationery, according to the regulations on stationery management, the person in need will make a request for stationery, send it to the Head of the department for approval, and then transfer it to the Administration Department for consideration. .
                                    </p>
                                    <p>
                                        The administrative department will be responsible for re-checking the usage norms according to the regulations on stationery management, if it is not correct, it must be transferred to the department to request correction, if it is correct, it will be sent to the director for approval.
                                    </p>
                                    <p>
                                        Based on the approved proposal, the Administration Department will contact the supplier to purchase the required stationery. Stationery is distributed immediately after receiving to users. The issuance and distribution must also be signed and received on the warehouse card.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingSix">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseSix" href="#" aria-expanded="false" aria-controls="collapseSix">
                                        Management and use of stationery
                                    </a>
                                </div>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion0">
                                <div class="panel-body">
                                    <p>
                                        Employees are allocated stationery for work according to the regulations on management of assigned stationery on the basis of proper use, economical use and avoidance of waste.
                                    </p>
                                    <p>
                                        The head of the department will be the person responsible for guiding and directly checking the use of stationery of the subordinate staff.
                                    </p>
                                    <p>
                                        The administrative department is responsible for making inventory cards to track and use stationery in the company. Ensure the inventory level is 20%.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
