@model eProject.Models.Supplier

@{
    ViewData["Title"] = "AdminEditSupplier";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@{
    ViewData["Title"] = "AdminCreateDepartment";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("AdminIndexSupplier", "Supplier")">Supplier List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">/<a href="#">Edit Supplier </a></li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AdminEditSupplier">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SupplierCode" />
                    <div class="form-group">
                        <label asp-for="SupplierName" class="control-label"></label>
                        <input asp-for="SupplierName" class="form-control" />
                        <span asp-validation-for="SupplierName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactName" class="control-label"></label>
                        <input asp-for="ContactName" class="form-control" />
                        <span asp-validation-for="ContactName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="AdminIndexSupplier">Back to List</a>
            <h3 style="color:red">@ViewBag.Msg</h3>
        </div>

</div>
</div>
