@model eProject.Models.Role

@{
    ViewData["Title"] = "AdminCreateRole";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@{
    ViewData["Title"] = "AdminIndexUser";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("AdminCreateRole", "Role")">Role List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">/<a href="#">Create New Role</a>/</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AdminCreateRole" method="post">
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="AdminIndexRole">Back to List</a>
            <h3 style="color:red">@ViewBag.Msg</h3>
        </div>
        </div>
    </div>

